body{
	font-size: 14px;
	color: rgb(237, 247, 255);
	line-height: 1.3;
	/*background-image: linear-gradient(to right, #242a3a 0%,#646f83 20%,#8a98ae 50%,#646f83 80%,#2f3547 100%);*/
	 background: url('../images/wolli.png');
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-size: cover;
}
form{
	width: 24%;
	padding: 20px;
	background: rgb(236, 236, 236);
	position: fixed;
	top: 50%;
	left: 38%;
	right: 38%;
	border-radius: 15px;
	color: rgb(5, 116, 116);
	text-align: center;
}
.startInput{
	width: 100%;
}
