@import url("resset.css");
@import url("font-awesome.min.css");
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#header:after,
#header:before,
#content:after,
#content:before,
.nav:after,
.nav:before,
.g-container:before,
.g-container:after {
  content: "";
  display: table;
  clear: both;
}
.g-container{
	width: 1240px;
	padding: 0px 30px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	min-height: 100%;
}
body{
	font-size: 14px;
	color: #333;
	line-height: 1.3;
	background: #f2f2f2; 
}
.nav{
	position: fixed;
	width: 200px;
	padding-top: 40px;
}
.nav > li {
	list-style: none;
}
.nav > li > a{
	padding-left: 10px;
	color: #333;
	display: block;
	background-position: 5px 3px;
	background-repeat: no-repeat;
	text-decoration: none;
	font-size: 19px;
}
.nav > li > a:hover{
	color: rgb(255, 255, 255);
	background: teal;
}
.vessel{
	margin: 0 0 0 230px;
}
.post-title > a{
	text-decoration: none;
	color: #343d46;
}
.post-title > a:hover{
	color: teal;
}
.post-author{
	color: rgb(255, 82, 0);
	display: block;
	text-align: center;
}
.post{
	display: block;
	padding: 20px 20px;
}
.post-title{
	text-align: center;
}
.post-title > i.fa{
	font-size: 20px;
	position: absolute;
	left: 0px;
	background: #fff;
}
.section-title-bottom-line-single{
	background: #dfdfdf;
	border-left: 55px solid #D1857B;
	height: 1px;
	margin: 9px 0;
}
.post > span{
	font-family: cursive;
	font-size: 12px;
}
.post_content{
	text-indent: 20px;
	text-align: justify;
}
#content{
	padding-top: 60px;
}
#header{
	position: fixed;
	width: 100%;
	background: #343d46;
	z-index: 1;
	height: 50px;
}
.thumb{
	width: 60px;
	height: 60px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
}
.g_profile_name{
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}
.g_person{
	position: fixed;
	height: 65px;
	overflow: hidden;
	background: none repeat scroll 0% 0% #343D46;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}
.g_person_menu{
	border: 1px solid #808080;
	padding: 0px 10px;
	height: 65px;
}
.g_logout > a{
	color: rgb(0, 163, 163);
}
.gbut{
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.4;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.g_logout,
.g_add_post{
	cursor: pointer;
	vertical-align: middle;
	display: inline-block;
	padding: 5px;
}
.g_profile_name > span{
	vertical-align: middle;
	display: inline-block;
	padding: 5px;
}
.g_bloc_center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.g_text_center{
	text-align: center;
}
.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.postForm{
	padding: 10px 20px;
	color: rgb(5, 116, 116);
	text-align: center;
	width: 350px;
	margin-top: 70px;
	background: #343d46;
	border-radius: 15px;
}
.postInput{
	width: 100%;
	padding: 10px;
	color: rgb(2, 121, 121);
	resize:none;
}
.userEmail{
	font-size: 10px;
	display: block;
}
.g_page{
	color: #343d46;
	display: block;
	padding: 20px 20px;
}
.post-from{
	position: absolute;
}
.post-from > img{
	height: 120px;
	width: 120px;
	padding: 1px;
	display: block;
}
.post-data{
	padding-left: 140px;
}